<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Internet permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Location permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <!-- Foreground service permission -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- New permission for location-based foreground services in Android 14 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />

    <application

        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Meal_Mission_App"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCyNQXSZN-qOP__Xu15JCqPIQVQUHjZN5k"/>
        <!-- Login Activity -->
        <activity
            android:name=".pages.LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Customer home pgae -->
        <activity
            android:name=".pages.CustomerActivity"
            android:exported="true"
            android:label="Customer"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!-- Driver Home Page Activity -->
        <activity
            android:name=".pages.DriverHomePageActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <!-- Main Activity (If needed later) -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Meal_Mission_App">

        </activity>

        <!-- Location Service Declaration -->
        <service
            android:name=".services.LocationService"
            android:foregroundServiceType="location"
            android:exported="false" />

    </application>

</manifest>
